/****************************************/
/**************** BODY*******************/
/****************************************/
body>header {
    background: #eee;
    padding: 5px;
}

aside>h2{
    float: left;
    max-width: 200px;
    margin: 0;
    padding: 1em;
}
body>header>a>img, body>header a  {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
    font-size: 1.2em;
}

body>footer {
    background: #222;
    padding: 5px;
    margin-top:  10px;
    margin-bottom: 0;
    text-align: center;

}
body>footer>div{
color: #eee;
}
body>aside {
    float: right;
    width: 200px;
    background: #CCC;
    padding: 15px;
    margin-left: 20px;
}

body>aside h2 {
    margin: 5px 0px 15px 0px;
}

body>aside a {
    display: block;
    margin: 5px 0px;
    text-decoration: none;
}

body>main:after {
    content: '';
    display: block;
    clear: both;
}

/****************************************/
/***************** LISTS*****************/
/****************************************/

ul#messages li {
    display: block;
    width: 80%;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

ul#messages li.info {
    background: #7f7;
}

ul#messages li.error {
    background: #d00;
    color: white;
}


/****************************************/
/*********** DIVS *********************/
/****************************************/


div>button>a:link{
    text-decoration: none;
}
div>button>a:hover{
    color:white;
}
div>button>a{
    color: white;

    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1em;
    margin: -1em;
}
aside{

    float:left;
    max-width:200px;
    margrin: 0px;
    padding: 1em;
}

/****************************************/
/*********** CLASSES ********************/
/****************************************/
.home-index {
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 10px;
    min-height: 100vh; !important;
}
.paging{
    width: 10%;
    margin: auto;
    padding: 10px;
    text-align: left;
}
.posts-index{

    width: 50%;
    margin: auto;
    padding: 10px;
    min-height: 80vh;
}
.post-edit{
    width: 50%;
    margin: auto;
    padding: 10px;
    min-height: 80vh;
}
.post-create{
    width: 50%;
    margin: auto;
    padding: 10px;
    min-height: 80vh;
}
.post-delete{
    width: 50%;
    margin: auto;
    padding: 10px;
    min-height: 80vh;
    text-align: center;
}
.user-edit{
    width: 20%;
    margin: auto;
    padding: 10px;
    min-height: 80vh;
    text-align: center;
}
.user-index{
    width: 30%;
    margin: auto;
    padding: 10px;
    min-height: 80vh;
}
.users-del{
    width: 50%;
    margin: auto;
    padding: 10px;
    min-height: 80vh;
}
.register-index{
    width: 30%;
    margin: auto;
    padding: 10px;
    min-height: 80vh;
    text-align: center;
}

.sidebar {
    background: #222;
}
.logo-small {
    color: #f4511e;

    position: fixed;
}

.validation-error {
    vertical-align: top;
    margin-left: 10px;
    color: red;
}

#logged-in-info {
    float: right;
    margin-top: 18px;
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}
.login-index{
    width: 30%;
    margin: auto;
    padding: 10px;
    min-height: 80vh;
    text-align: center;
}

/****************************************/
/************ FOOTER ********************/
/****************************************/
footer {

    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}
footer>h2 {
    align-content: center;
}
footer>a{
    float: right;
}


/****************************************/
/************ Comments CSS **************/
/****************************************/


textarea
{
    width:100%;
    resize: vertical;
}
.textwrapper {
    border: 1px solid #999999;
    margin: 5px 0;
    padding: 3px;
}
.thumbnail {
    padding:0px;
}
.panel {
    position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}

/****************************************/
/********* END Comments CSS *************/
/****************************************/

