/****************************************/
/**************** BODY*******************/
/****************************************/
body>header {
    background: #eee;
    padding: 5px;
}

aside>h2{
    float: left;
    max-width: 200px;
    margin: 0;
    padding: 1em;
}
body>header>a>img, body>header a  {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
    font-size: 1.2em;
}

body>footer {
    background: #222;
    padding: 5px;
    margin-top:  10px;
    margin-bottom: 0;
    text-align: center;

}
body>footer>div{
color: #eee;
}
body>aside {
    float: right;
    width: 200px;
    background: #CCC;
    padding: 15px;
    margin-left: 20px;
}

body>aside h2 {
    margin: 5px 0px 15px 0px;
}

body>aside a {
    display: block;
    margin: 5px 0px;
    text-decoration: none;
}

body>main:after {
    content: '';
    display: block;
    clear: both;
}

/****************************************/
/***************** LISTS*****************/
/****************************************/

ul#messages li {
    display: block;
    width: 80%;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

ul#messages li.info {
    background: #7f7;
}

ul#messages li.error {
    background: #d00;
    color: white;
}


/****************************************/
/*********** DIVS *********************/
/****************************************/


div>button>a:link{
    text-decoration: none;
}
div>button>a:hover{
    color:white;
}
div>button>a{
    color: white;

    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1em;
    margin: -1em;
}
aside{
    margin-top: 200px;
    float:left;
    max-width:200px;
    margrin: 0px;
    padding: 1em;
}

/****************************************/
/*********** CLASSES ********************/
/****************************************/
.middle {
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 10px;
}
.middle1 {

    width: 32%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.sidebar {
    background: #222;
}
.logo-small {
    color: #f4511e;

    position: fixed;
}

.validation-error {
    vertical-align: top;
    margin-left: 10px;
    color: red;
}

#logged-in-info {
    float: right;
    margin-top: 18px;
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}

/****************************************/
/************ FOOTER ********************/
/****************************************/
footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}
footer>h2 {
    align-content: center;
}
footer>a{
    float: right;
}
